@charset "UTF-8";
html, body, .wrapper {
  width: 100%;
  height: 100%;
}
html, body, button, a, p, textarea, h1 {
  padding: 0;
  margin: 0;
}
a, span, h1, h2, h3, h4, h5, h6, span, strong, label, div {
  font-family: dotum, '돋음', sans-serif;
  color: #444;
  font-size: 14px;
}
button {
  background-color: rgb(153, 153, 153);
  border: 0;
}
a:link {
  text-decoration: none;
}
select {
  border: 0;
  background-color: #fff;
}
.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0
}
.header {
  padding: 5px 10px;
}
.logo {
  width: 115px;
  height: 32px;
  background-color: #000;
  text-align: center;
  color: #fff;
  line-height: 30px;
}
.header:after {
  content: '';
  display: block;
  clear: both;
}
.select_area {
  height: 40px;
  border-bottom: 2px solid #ebebeb;
}
.select_left {
  position: relative;
  display: inline-block;
  width: 50%;

  text-align: center;
}
.left_inner {
  height: 40px;
}
.right_inner {
  height: 40px;
}
.img_reverse {
  background-image: url('image/reverse.png');
  background-size: 51px 30px;
  position: absolute;
  width: 51px;
  height: 30px;
  right: -25.5px;
  top: 0px;
}
.link_main {
  display: inline-block;
}
.select_right {
  display: inline-block;
  text-align: center;
  width: 50%;
}
.arrow_wrap {
  position: relative;
  margin-right: 5px;
}
.profile {
  vertical-align: top;
  display: inline-block;
}
.arrow {
  position: absolute;
  background-image: url('image/arrow_down.png');
  background-size: 8px 6px;
  width: 8px;
  height: 6px;
  top: 2px;
  right: 15px;
}
.select_lang {
  font-size: 20px;
}
.reset_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button_left {
  width: 37px;
  height: 43px;
  background-color: #000;
  margin-left: 18px;
  float: left;
  color: #fff;
}
.img_more {
  width: 23px;
  height: 16px;
  background-image: url('image/more.png');
  background-size: 23px 16px;
  position: absolute;
  right: 10px;
  top: 13px;
}

.img_setting {
  width: 15px;
  height: 20px;
  background-image: url('image/setting.png');
  background-size: 15px 20px;
  vertical-align: middle;
  display: inline-block;
}
.info_area {
  position: relative;
  float: right;
  display: none;
  padding: 5px 0;
  margin-right: 25px;
}
.select_nick {
  font-size: 10px;
  color: #b4b4b4;
  display: inline-block;
}
.small_arow {
  position: absolute;
  background-image: url('image/small_arrow.png');
  background-size: 5px 5px;
  width: 5px;
  height: 5px;
  top: 7px;
  right: -5px;
}
.button_right {
  width: 106px;
  height: 45px;
  background-color: #00dd69;
  border: 1px solid #00c85d;
  margin-right: 24px;
  color: #fff;
  font-size: 18px;
}
.right_button_wrap {
  float: right;
}
.button_area::after {
  content: '';
  display: block;
  clear: both;
}
.count {
  display: none;
  color: #9b9b9b;
  line-height: 43px;
  margin-right: 10px;
}
.input_area {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 13px;
}
.output_area {
  padding-bottom: 13px;
}
.user_input {
  width: 95%;
  border: 0;
  color: #666;
  height: 115px;
  font-size: 24px;
  resize: none;
  text-indent: 15px;
}
.wrap_user_input {
  width: 100%;
  height: 145px;
  text-align: left;
  padding: 15px 0;
  box-sizing: border-box;
}
.translate_result {
  width: 95%;
  height: 115px;
  font-size: 24px;
  display: inline-block;
  text-indent: 15px;
}
.img_x {
  background-image: url('image/img_x.png');
  background-size: 14px 16px;
  width: 14px;
  height: 16px;
  vertical-align: top;
  display: none;
}
.result_wrap {
  width: 100%;
  height: 145px;
  padding: 15px 0;
  text-align: left;
  box-sizing: border-box;
}
.banner {
  height: 40px;
  width: 100%;
  background-color: #f1f1f3;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
}
@media screen and (min-width: 720px) {
  .info_area {
    display: block;
  }
  .img_more {
    width: 15px;
    height: 20px;
    background-image: url('image/setting.png');
    background-size: 15px 20px;
    top: 11px;
  }
  .count {
    display: inline;
  }
  .select_area {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    padding-top: 10px;
  }
  .input_area {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .inner_input {
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .header {
    position: relative;
    border-bottom: 2px solid #ebebeb;
  }
  .main {
    padding: 15px 15px 0 15px;
  }
  .wrap_user_input {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }
  .output_area {
    margin-top: 10px;
    padding-bottom: 0;
  }
  .inner_output {
    border: 1px solid #d9d9d9;
  }
  .button_left {
    width: 70px;
    height: 45px;
    margin-left: 1px;
  }
  .button_right {
    margin-right: 0;
  }
  .banner {
    display: none;
  }
  .result_wrap {
    border-bottom: 1px solid #f2f2f2;
  }
  .img_x {
    display: inline-block;
  }
}
@media screen and (min-width: 960px) {
  .input_area {
    float: left;
    width: 50%;
  }
  .output_area {
    float: left;
    width: 50%;
    margin-top: 0;
  }
  .inner_input {
    margin-right: 5px;
    border: 1px solid #d9d9d9;
  }
  .inner_output {
    margin-left: 5px;
  }
  .select_area {
    padding-top: 0;
  }
  .left_inner {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    padding-top: 15px;
    margin-right: 5px;
  }
  .select_left {
    float: left;
    text-align: left;
    text-indent: 15px;
  }
  .right_inner {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    padding-top: 15px;
    margin-left: 5px;
  }
  .select_right {
    float: left;
    text-align: left;
    text-indent: 15px;
  }
  .select_area {
    border: 0;
  }
  .img_reverse {
    background-image: url('image/reverse2.png');
    background-size: 19px 19px;
    width: 19px;
    height: 19px;
    top: 20px;
    right: 15px;
  }
  .wrap_user_input {
    border-top: 0;
  }
}
